<footer class="footer bg-dark">

    <div class="ft-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ft-top-left d-flex justify-content-center justify-content-md-start">
                        <a href="#">GrubKing</a>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="ft-tp-right d-flex justify-content-center justify-content-md-end">
                        <div class="ft-tp-item mr-3"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="ft-tp-item mr-3"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="ft-tp-item mr-3"><a href="#"><i class="fab fa-twitter"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="ft-mdl">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <p>Company</p>
                        <ul>
                            <li>
                                <a href="#"><i class="far fa-hand-point-right"></i><span>About Us</span></a></li>
                            <li>
                                <a href="#"><i class="far fa-hand-point-right"></i><span>Our Menu</span></a></li>
                            <li>
                                <a href="#"><i class="far fa-hand-point-right"></i><span>Blog</span></a></li>
                            <li>
                                <a href="#"><i class="far fa-hand-point-right"></i><span>Contact</span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p>Services</p>
                        <ul>
                            <li><a href=""><i class="far fa-hand-point-right"></i><span>Online Order</span></a></li>
                            <li><a href=""><i class="far fa-hand-point-right"></i><span>My Order</span></a></li>
                            <li><a href=""><i class="far fa-hand-point-right"></i><span>Checkout</span></a></li>
                            <li><a href=""><i class="far fa-hand-point-right"></i><span>Catering</span></a></li>
                            <li><a href=""><i class="far fa-hand-point-right"></i><span>Our Location</span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p> Get In Touch</p>
                        <h6 class="ft-mdl-cnt">Mon. – Sun.: 9.00 – 22.00 236 5th Avenue,</h6>
                        <h6 class="ft-mdl-cnt">NYC 10001 +1 212 585 9675</h6>
                        <h6 class="ft-mdl-cnt">order@foodeli.com</h6>

                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p>We Accept</p>
                        <div class="row paypal">
                            <div class="col-lg-4 col-md-6-col-sm-12">
                                <div class="visa-img"><img src="/assets/images/imgvisa/visa.jpg" alt=""></div>
                            </div>
                            <div class="col-lg-4 col-md-6-col-sm-12">
                                <div class="visa-img"><img src="/assets/images/imgvisa/visa.jpg" alt=""></div>
                            </div>
                        </div>
                        <h6 class="ft-mdl-cnt font-italic">* Foodeli supports most popular payment gateways.</h6>
                    </div>
                </div>

            </div>

        </div>

        <div class="ft-bt">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start">
                        © 2021 GrubKing. All Rights Reserved.
                    </div>
                    <div class="col-md-6 d-flex  justify-content-start justify-content-md-end">
                        Design By DW_02
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>