<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of item;let i = index">
                <td>{{i}}</td>
                <td>{{it.name}}</td>
                <td>{{it.price}}</td>
                <td>
                    <input type="number" id="{{it.id}}" (change)="onUpdate($event)" value="{{it.quantity}}">
                </td>
                <td>
                    <a (click)="onDelete(it.id)" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Total Price: {{totalPrice | currency:"":"0":"0.0"}} Đ</h1>
        <p>
            <a routerLink="/product-grid" class="btn btn-primary ml-3 ">Product</a>
            <a href="javascript:void(0)" (click)="onClear()" class="btn btn-primary ml-3 btn-danger">Delete All</a>
            <a class="btn btn-primary ml-3 btn-warning">Odere Pay</a>
        </p>
    </div>
</div>