<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-12 banner">
            <img src="../../assets/images/imgfood/bannerwedfood/banner.png" width="100%">
            <div class="banner-title">
                <h1 style="text-align: center;color: beige;" class="mb-1">BLOG</h1>
                <h4 style="text-align: center;color: beige;">HOME / <span class="whitesmoke">BLOG</span></h4>
            </div>
        </div>
    </div>
</div>
<div class="container main-content">
    <div class="row" style="margin: 0;">
        <div class="col-12 col-md-12 col-lg-9 main p-0 pr-lg-4">
            <h3>US DEVELOPMENT PROCESS</h3>
            <p class="hoverred process"><span>GrubKing</span> &middot; April/24/2021 &middot; <span>Incription</span></p>
            <div class="main-imgtop">
                <img src="../../assets/images/imgfood/bread/banh-mi-bo-toi-pho-mai.png" style="width: 100%;">
            </div>
            <p class="top-content twenty">
                <strong> Eating home-cooked food can sometimes be a luxury or even a time-consuming chore 
                    considering the amount of preparation it can take. If one is exhausted after a difficult 
                    day’s work or one is sick and unable to cook.</strong>
            </p>
            <p>

                Perhaps, a group of people are suddenly visiting your home and there is no time or no available ingredients to cook an elaborate meal quickly for so many persons.
                <strong class="red">Ordering online would be an easy way out here.</strong>
            </p>
            <div class="top-content owner-content pb-1 pb-md-3 pb-lg-3 pl-2 pl-md-4 pl-lg-5">
                <p class="mb-0 mb-md-2">We are here to help you reduce cooking time.We are here to bring you delicious and cheap food.GrubKing's mission is to fulfill your expectations<span class="red"> Order our food now !</span></p>
                <strong class="twenty">Aptech-WD2 <span style="vertical-align:8px;">__ </span>
                    <span style="font-weight: 400;font-size: 17px;" class="whitesmoke">Owner of GrubKing</span></strong>
            </div>
            <h3 class="line">THE RESTAURANTS WE ASSSOCIATE</h3>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="main-imgtop main-imgbot">
                        <img src="../../assets/images/imgfood/cake/banh-ngot.jpg" style="width: 100%;">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 list-restaurants">
                    <ul class="pl-4">
                        <li class="mb-2 mb-lg-4">
                            Banh Ngot Ha Thanh - 15th floor, Ruby Plaza, 44 Le Ngoc Han, Hai Ba Trung district
                        </li>
                        <li class="mb-2 mb-lg-4">
                            PaPaChicken - 1 Alley 39A Tran Thai Tong, Cau Giay District
                        </li>
                        <li class="mb-2 mb-lg-4">
                            Com Que - No. 38 Ba Trieu, Hoan Kiem District
                        </li>
                        <li class="mb-2 mb-lg-4">
                            Happy Lunch - Tháp C Golden Palace, 99 Mễ Trì, quận Nam Từ Liêm, Hà Nội
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 top-content">
                    <p class="hoverred"><strong>Tag:</strong> Restaurants ,<span> Pizza </span>, <span>Fried Chiken</span> </p>
                </div>
            </div>
            <hr class="line">
            <h4 class="top-content">3 comment in this post</h4>
            <!-- ROW COMMENTS -->
            <div class="row cuscomments">
                <div class="col-3 col-md-2 col-lg-2 avatar pr-0">
                    <img src="../../assets/images/imgfood/drink/mon-tra-sua-tran-chau.jpg" style="width: 100%;">
                </div>
                <div class="col-9 col-md-10 col-lg-10">
                    <p class="mb-0">
                        <span style="font-weight: 500;"> Jhon Walker </span><span class="whitesmoke"> - April 25 2021</span>
                    </p>
                    <p>
                        Fast delivery service. That great !
                    </p>
                    <button id="replly" class="btn-comments red mb-1 mb-lg-0" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+ Replly</button>
                </div>
                <div class="col-12 col-md-12 col-lg-12 top-content">
                    <hr>
                </div>
                <div class="col-12 col-md-12 col-lg-12 collapse hiddenform" id="collapseExample">
                    <form class="pl-0">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3 top-content"><h4>Replly To John Walker</h4> </label>
                            <button id="replly" class="btn-comments red" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="far fa-times-circle fa-2x" ></i></button>
                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="6" placeholder="Your comment goes here ..." required=""></textarea>
                        </div>
                        <button type="submit" class="btn-submit top-content" id="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
            <!-- ROW COMMENTS -->
            <!-- ROW COMMENTS -->
            <div class="row cuscomments">
                <div class="col-3 col-md-2 col-lg-2 avatar pr-0">
                    <img src="../../assets/images/imgfood/fastfood/papa-chicken/ga-sot-cay-nong.png" style="width: 100%;">
                </div>
                <div class="col-9 col-md-10 col-lg-10">
                    <p class="mb-0">
                        <span style="font-weight: 500;"> Chris Evan </span><span class="whitesmoke"> - April 24 2021</span>
                    </p>
                    <p>
                        It helped me a lot when I was busy
                    </p>
                    <button id="repllyb" class="btn-comments red" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExampleb" aria-expanded="false" aria-controls="collapseExampleb">+ Replly</button>
                </div>
                <div class="col-12 col-md-12 col-lg-12 top-content">
                    <hr>
                </div>
                <div class="col-12 col-md-12 col-lg-12 collapse hiddenform" id="collapseExampleb">
                    <form class="pl-0">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3b top-content"><h4>Replly To Chris Evan</h4> </label>
                            <button id="repllyb" class="btn-comments red" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExampleb" aria-expanded="false" aria-controls="collapseExampleb"><i class="far fa-times-circle fa-2x"></i></button>
                            <textarea class="form-control" id="exampleFormControlTextarea3b" rows="6" placeholder="Your comment goes here ..." required=""></textarea>
                        </div>
                        <button type="submit" class="btn-submit top-content" id="submitb">SUBMIT</button>
                    </form>
                </div>
            </div>
            <!-- ROW COMMENTS -->
            <!-- ROW COMMENTS -->
            <div class="row cuscomments">
                <div class="col-3 col-md-2 col-lg-2 avatar pr-0">
                    <img src="../../assets/images/imgfood/noodle/bun-dau-mam-tom-ha-noi-day-du2.jpg" style="width: 100%;">
                </div>
                <div class="col-9 col-md-10 col-lg-10">
                    <p class="mb-0">
                        <span style="font-weight: 500;"> Sebastian Stan </span><span class="whitesmoke"> - April 17 2021</span>
                    </p>
                    <p>
                        This website is awesome ! Thank you very much
                    </p>
                    <button id="repllyc" class="btn-comments red" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExamplec" aria-expanded="false" aria-controls="collapseExamplec">+ Replly</button>
                </div>
                <div class="col-12 col-md-12 col-lg-12 top-content">
                    <hr>
                </div>
                <div class="col-12 col-md-12 col-lg-12 collapse hiddenform" id="collapseExamplec">
                    <form class="pl-0">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3c top-content"><h4>Replly To Sebastian Stan</h4> </label>
                            <button id="repllyc" class="btn-comments red" style="font-weight: 500;" type="button" data-toggle="collapse" data-target="#collapseExamplec" aria-expanded="false" aria-controls="collapseExamplec"><i class="far fa-times-circle fa-2x"></i></button>
                            <textarea class="form-control" id="exampleFormControlTextarea3c" rows="6" placeholder="Your comment goes here ..." required=""></textarea>
                        </div>
                        <button type="submit" class="btn-submit top-content" id="submitc">SUBMIT</button>
                    </form>
                </div>
            </div>
            <!-- ROW COMMENTS -->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <form name="myFormd" target="_self">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3d top-content"><h4>Leave your thought here</h4></label>
                            <textarea class="form-control" name="_textarea" id="exampleFormControlTextarea3d" rows="6" placeholder="Your comment goes here ..." required=""></textarea>
                            <div class="error pt-2" id="error_text"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 form-group">
                                <label for="exampleInputEmail1d">Email address</label>
                                <input type="text" name="_email" class="form-control" id="exampleInputEmail1d" placeholder="Enter email ...">
                                <div class="error pt-2" id="error_email"></div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 form-group">
                                <label for="exampleInputPassword1d">Password</label>
                                <input type="password" name="_pass" class="form-control" id="exampleInputPassword1d" placeholder="Password ...">
                                <div class="error pt-2" id="error_pass"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn-submit top-content" id="submitd" value="submit">SUBMIT</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- ASIDE -->
        <!-- ASIDE -->
        <div class="col-lg-3 aside">
            <h6>Search This Blog</h6>
            <form class="input-group" action="#">
                <input type="text" class="form-control" placeholder="Search ...">
                <span class="input-group-btn">
                        <button class="btn btn-search red buttonsearch" type="submit"><i class="fa fa-search fa-fw"></i></button>
                    </span>
            </form>
            <h4 class="top-content">Recent Posts</h4>
            <div class="row ">
                <div class="col-lg-4">
                    <img src="../../assets/images/imgfood/rice/happy-luch/bo-sot-tieu-den.png" style="width :100%">
                </div>
                <div class="col-lg-8">
                    WHY ARE FOOD DELIVERY SERVICES BECOMES SO POPULAR?
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <img src="../../assets/images/imgfood/bread/banhmidanto1.png" style="width :100%">
                </div>
                <div class="col-lg-8">
                    WHY ARE FOOD DELIVERY SERVICES BECOMES SO POPULAR?
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <img src="../../assets/images/imgfood/cake/cake.png" style="width :100%">
                </div>
                <div class="col-lg-8">
                    WHY ARE FOOD DELIVERY SERVICES BECOMES SO POPULAR?
                </div>
            </div>
            <h5 class="line">Categories</h5>
            <ul>
                <li>Others</li>
                <li>Recipes</li>
                <li>Incription</li>
            </ul>
            <h5 class="line">Popular Tags</h5>
            <p>burger, fast food, pizza, noodle, drink,fried chicken</p>
        </div>
        <!-- ASIDE -->
    </div>
</div>